{% extends 'layout.html' %}
{% load static %}

{% block scripts %}
<link href="{% static 'plugins/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />

<script src="{% static 'plugins/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'plugins/select2-4.0.13/js/i18n/es.js' %}"></script>

<link rel="stylesheet" href="{% static 'plugins/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'plugins/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<script src="{% static 'plugins/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

<link href="{% static 'plugins/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
<script src="{% static 'plugins/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

{% endblock %}


{% block javascript %}
    <script src="{% static 'venta/venta.js' %}"></script>
{% endblock %}


{% block contenido %}
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ titulo }}</h4>
                    </div>
                    <form method="POST" id="formAdd">
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h4 class="card-title"><i class="fas fa-boxes"></i> Detalle de Producto
                                            </h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label> Buscar Producto: </label>
                                                <div class="input-group">
                                                    <select class="form-control select2" name="search"></select>
                                                </div>
                                            </div>
                                            {% comment %} <div class="form-group">
                                                <label> Buscar Producto: </label>
                                                <div class="input-group">
                                                    <input type="text" name="search" class="form-control"
                                                        placeholder="Buscar" , autocomplete="off">
                                                    <div class="input-group-btn">
                                                        <button type="button"
                                                            class="btn btn-danger btn-flat btnClenar"><i
                                                                class="fas fa-times"></i></button>
                                                    </div>
                                                </div>
                                            </div> {% endcomment %}

                                            <hr>
                                            <div style="margin-bottom: 20px;">
                                                <button type="submit" class="btn btn-success">
                                                    <i class="fas fa-shopping-cart"></i> Realizar Compra
                                                </button>
                                                <button type="button" class="btn btn-danger btnRemoveAll">
                                                    <i class="fas fa-trash"></i> Eliminar todos mis Items
                                                </button>
                                            </div>

                                            <table class="table table-bordered" id="listProductos">
                                                <thead>
                                                    <tr>
                                                        <th>Eliminar</th>
                                                        <th>Nombre Producto</th>
                                                        <th>Codigo Proveedor</th>
                                                        <th>Precio Unitario</th>
                                                        <th>Cantidad Ingresada</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h4 class="card-title"><i class="fas fa-user"></i> Informacion de
                                                Comprador</h4>
                                        </div>
                                        <div class="card-body">
                                            <input type="hidden" name="action" value="{{ action }}">
                                            <div class="form-group">
                                                <label>Identificacion de Comprador:</label>

                                                <div class="input-group">
                                                    {{ form.cod_proveedor }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div style="margin-bottom: 20px;">
                                                    <button class="btn btn-success btn-flat btnAddClient">
                                                        <i class="fas fa-user-plus"> Agregar Nuevo Proveedor</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h4 class="card-title"><i class="fas fa-shopping-cart"></i> Detalle de
                                                Factura</h4>
                                        </div>
                                        <div class="card-body">
                                            <input type="hidden" name="action" value="{{ action }}">
                                            <div class="form-group">
                                                <label>Fecha:</label>
                                                {{ form.fecha_emision }}
                                            </div>

                                            <div class="form-group">
                                                <label>IVA:</label>
                                                {{ form.iva }}
                                            </div>

                                            <div class="form-group">
                                                <label>IVA Calculado:</label>
                                                <input type="text" class="form-control" readonly
                                                    name="ivacalculado">
                                            </div>

                                            <div class="form-group">
                                                <label>Subtotal:</label>
                                                {{ form.subtotal }}
                                            </div>

                                            <div class="form-group">
                                                <label>Total Factura: </label>
                                                {{ form.total }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}
